
body, html {
    height: 50%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

.img-text{
  text-align: end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.img-rulle{
  background-image: url("../img/Kebabrulle-1.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.meny{
    display: flex;
    flex-direction: column;
    border: 2px red solid;
}

.meny div{
    display: flex;
    flex-flow: column;
    border: 2px blue solid;
    margin-left: 30%;
    margin-right: 30%;
}

footer{
    color: black;
}


